<!-- Nested Child Card -->
<div class="card mb-2" data-id="{{id}}">
  <div class="card-body bg-transparent shadow rounded">
    <h5 class="card-title">
      <a
        href="#"
        onclick="openTaskCardModal({{id}})"
        class="card-link"
        style="text-decoration: none; color: #cb7889"
        {{! Check if this works... modal still to be fully built out... located base of home page }}
        data-toggle="modal"
        data-target="#task-view-modal"
      >{{title}}</a>
    </h5>
    <p class="card-text text-black">{{contents}}</p>
  </div>
  <div class="card-footer bg-white">
    <p class="card-text text-black">
      <i class="fa-regular fa-clock" style="color: black;"></i>
      {{deadline}}
    </p>
  </div>
</div>