{{! Will need to add sortable.Js to main.handlebars }}
{{! sidebar }}

<aside id="sidebar" class="col-md-3">
  <div>
    <img src="../assets/Logo.png" />
  </div>
  <nav class="nav flex-column">
    <ul>
      <li><a class="nav-link" href="/dashboard"></a></li>
      <li><a class="nav-link" href="/projects"></a></li>
    </ul>
  </nav>
</aside>

{{! Main }}
<main class="col-md-9">
  <section id="task-board" class="row">
    {{! To Do}}
    <div class="task-column col-md-4" id="to-do">
      <h2 class="h4 my-3">To Do</h2>
      <div class="task-list list-group" id="to-do-task">
        {{! Will load in tasks here}}
        {{#each tasks.toDo as |task|}}
        <div class="task-card list-group-item" data-id="{{task.id}}">
          <h3>{{task.title}}</h3>
          <p>{{task.contents}}</p>
          <p>{{task.deadline}}</p>
        </div>
        {{/each}}
      </div>
      <button class="create-task">CREATE NEW TASK</button>
    </div>

    {{! In Progress}}
    <div class="task-column col-md-4" id="in-progress">
      <h2 class="h4 my-3">In Progress</h2>
      <div class="task-list list-group" id="in-progress-task">
        {{! Load in - in progess tasks}}
        {{#each tasks.inProgress as |task|}}
        <div class="task-card list-group-item" data-id="{{task.id}}">
          <h3>{{task.title}}</h3>
          <p>{{task.contents}}</p>
          <p>{{task.deadline}}</p>
        </div>
        {{/each}}
      </div>
    </div>
    {{! Completed}}
    <div class="task-column col-md-4" id="completed">
      <h2 class="h4 my-3">Completed</h2>
      <div class="task-list list-group" id="completed-task">
        {{! Add in completed tasks here}}
        {{#each tasks.completed as |task|}}
        <div class="task-card list-group-item" data-id="{{task.id}}">
          <h3>{{task.title}}</h3>
          <p>{{task.contents}}</p>
          <p>{{task.deadline}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</main>
{{! Will either NPM install sortable or have to use a library }}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
<script src="/js/sortable.js"></script>